.results {
  font-family: Roboto;
  font-size: 18px;
  width: 600px;
  max-width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  margin: 5px 15px;
  line-height: 1.6;
  box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000,
    5px 5px #000000, 6px 6px #000000;
}

@media (max-width: 455px) {
  .results {
    width: 80%;
    max-width: 80%;
    padding-left: 25px;
    padding-right: 25px;
  }
}
